@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

h1 {
  font-family: "Roboto", sans-serif;
  color: chartreuse;
  font-size: 40px;
}

footer {
  margin-right: auto;
  margin-left: auto;
  bottom: 0;
  width: 100%;
  position: fixed;
  background-color: cornsilk;
}

body {
  color: DarkCyan;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  background-color: lightyellow;
}

nav {
  text-decoration: none;
  font-family: "Courier New", Courier, monospace;
  color: #4947db;
}

a {
  text-decoration: none;
  color: lightslategray;
}

a:hover {
  color: lightblue;
}

a.website {
  color: lightslategray;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  font-style: oblique;
  text-decoration: none;
}

a.mail {
  color: DarkCyan;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
}

a.mail:hover {
  color: blue;
}

a.website:hover {
  color: lightblue;
}
